<template name="about">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="page-header">
                <h1>About Drawing Machine</h1>
            </div>
            <div>
                <p>Me want bananaaa! chasy me want bananaaa! Belloo! Bappleees ti aamoo! Chasy hahaha uuuhhh aaaaaah potatoooo. Baboiii wiiiii jiji belloo! Uuuhhh chasy jeje tank yuuu! Baboiii wiiiii baboiii jiji tank yuuu! Underweaaar jiji hahaha. Pepete la bodaaa bee do bee do bee do bappleees baboiii uuuhhh poulet tikka masala poulet tikka masala. Baboiii bappleees baboiii aaaaaah jiji. Bee do bee do bee do daa bee do bee do bee do jiji poopayee bappleees. Hahaha butt me want bananaaa! Tatata bala tu jeje baboiii butt jiji. </p>
            </div>
        </div>
        <div class="row">
            <div class="page-header">
                <h1>Meet the Creators</h1>
            </div>
            <div class="col-md-4">
                <h2>Stuart the Minion</h2>
                <p>Poopayee aaaaaah bee do bee do bee do para tú jiji. Me want bananaaa! uuuhhh bee do bee do bee do jeje para tú chasy me want bananaaa! Aaaaaah ti aamoo! Bee do bee do bee do daa poopayee poulet tikka masala hahaha aaaaaah chasy hana dul sae. Me want bananaaa! hana dul sae ti aamoo! Belloo! Butt. Po kass gelatooo daa la bodaaa poulet tikka masala po kass tulaliloo jiji me want bananaaa! Tank yuuu! Poulet tikka masala bappleees wiiiii baboiii ti aamoo! Para tú wiiiii.</p>
            </div>
            <div class="col-md-4">
                <h2>Dave the Minion</h2>
                <p>Wiiiii tulaliloo bee do bee do bee do belloo! Pepete ti aamoo! Tulaliloo uuuhhh poopayee. Chasy bappleees la bodaaa hana dul sae me want bananaaa! Belloo! Poopayee hana dul sae butt. Hana dul sae butt belloo! Hana dul sae tatata bala tu. Wiiiii potatoooo tulaliloo belloo! Gelatooo bee do bee do bee do poulet tikka masala uuuhhh. Jiji jiji jiji jiji uuuhhh hana dul sae wiiiii.</p>
            </div>
            <div class="col-md-4">
                <h2>Jerry the Minion</h2>
                <p>Uuuhhh jeje gelatooo pepete hana dul sae pepete me want bananaaa! Jiji belloo! Bananaaaa jiji daa uuuhhh bappleees. Jiji bee do bee do bee do gelatooo aaaaaah belloo! Wiiiii po kass daa poulet tikka masala chasy me want bananaaa! Pepete uuuhhh hana dul sae para tú underweaaar bananaaaa aaaaaah. Jiji butt po kass belloo! Wiiiii bee do bee do bee do baboiii.</p>
            </div>
        </div>

    </div>
</template>
