<template name="colors">
    <button class='btn btn-default btn-xs color-btn black-bg'
        type="button" data-color="#000000">
        {{#if isActive '#000000'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn white-bg'
        type="button" data-color="#FAEBD7">
        {{#if isActive '#FAEBD7'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn red-bg'
        type="button" data-color="#FF0000">
        {{#if isActive '#FF0000'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn green-bg'
        type="button" data-color="#008000">
        {{#if isActive '#008000'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn blue-bg'
        type="button" data-color="#0000FF">
        {{#if isActive '#0000FF'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn orange-bg'
        type="button" data-color="#FF8C00">
        {{#if isActive '#FF8C00'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn yellow-bg'
        type="button" data-color="#FFFF00">
        {{#if isActive '#FFFF00'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn purple-bg'
        type="button" data-color="#800080">
        {{#if isActive '#800080'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn pink-bg'
        type="button" data-color="#FF1493">
        {{#if isActive '#FF1493'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn gold-bg'
        type="button" data-color="#FFD700">
        {{#if isActive '#FFD700'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn magenta-bg'
        type="button" data-color="#FF00FF">
        {{#if isActive '#FF00FF'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn lime-bg'
        type="button" data-color="#00FF00">
        {{#if isActive '#00FF00'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn teal-bg'
        type="button" data-color="#008080">
        {{#if isActive '#008080'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn cyan-bg'
        type="button" data-color="#00FFFF">
        {{#if isActive '#00FFFF'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn navy-bg'
        type="button" data-color="#000080">
        {{#if isActive '#000080'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn brown-bg'
        type="button" data-color="#A52A2A">
        {{#if isActive '#A52A2A'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn maroon-bg'
        type="button" data-color="#800000">
        {{#if isActive '#800000'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn gray-bg'
        type="button" data-color="#808080">
        {{#if isActive '#808080'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn snow-bg'
        type="button" data-color="#FFFAFA">
        {{#if isActive '#FFFAFA'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>
    <button class='btn btn-default btn-xs color-btn crimson-bg'
        type="button" data-color="#DC143C">
        {{#if isActive '#DC143C'}}
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        {{else}}
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        {{/if}}
    </button>

    <div class="input-group input-group-sm">
        <span class="input-group-addon" id="change-bg">Background</span>
        <input type="color" class="form-control bg-button" value="{{getBg}}">
    </div>

</template>
