<template name="intro">

    <div class="jumbotron">
        <div class="container">
            <h1>THE DRAWING MACHINE</h1>
            <p>Welcome to the Drawing Machine, probably the best collaborative drawing machine in the world!</p>
        <p>
            <a class="btn btn-primary btn-lg"
                href="{{pathFor route='machine'}}" role="button">Try the Machine</a>
        </p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <h2>Unique Experience</h2>
                <p>Potatoooo underweaaar butt bananaaaa tulaliloo belloo! Bananaaaa hana dul sae bananaaaa chasy me want bananaaa! Bee do bee do bee do baboiii me want bananaaa! Para tú bappleees tank yuuu! Bananaaaa wiiiii tatata bala tu me want bananaaa! Jeje wiiiii. Poopayee wiiiii chasy jiji baboiii poopayee. Potatoooo poopayee poopayee hahaha underweaaar daa aaaaaah la bodaaa butt hana dul sae bappleees.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h2>Collaborative Playground</h2>
                <p>Tank yuuu! potatoooo tulaliloo bananaaaa hana dul sae underweaaar. Butt la bodaaa para tú uuuhhh baboiii. Me want bananaaa! poulet tikka masala po kass potatoooo bee do bee do bee do. Poulet tikka masala bananaaaa underweaaar baboiii jeje. Tulaliloo belloo! Pepete jeje para tú hana dul sae pepete tulaliloo. Tatata bala tu wiiiii pepete tank yuuu! Bee do bee do bee do tatata bala tu. Ti aamoo! bananaaaa wiiiii poulet tikka masala. Pepete bappleees tulaliloo la bodaaa me want bananaaa! Jeje aaaaaah belloo! Bappleees.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h2>16+ Colors and Multiple Brushed</h2>
                <p>Gelatooo jiji chasy wiiiii potatoooo chasy. La bodaaa uuuhhh tank yuuu! Hana dul sae potatoooo uuuhhh daa pepete. Po kass baboiii butt bappleees jeje chasy poopayee. Daa ti aamoo! Jeje daa bappleees hana dul sae me want bananaaa! Bananaaaa. Poopayee aaaaaah bananaaaa hahaha underweaaar ti aamoo! Jeje aaaaaah po kass belloo! Butt poopayee underweaaar poopayee bappleees jiji uuuhhh aaaaaah bappleees chasy. Hahaha tatata bala tu potatoooo me want bananaaa! Tulaliloo belloo! Hana dul sae underweaaar bappleees.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <h2>Full Control</h2>
                <p>Tank yuuu! potatoooo tulaliloo bananaaaa hana dul sae underweaaar. Butt la bodaaa para tú uuuhhh baboiii. Me want bananaaa! poulet tikka masala po kass potatoooo bee do bee do bee do. Poulet tikka masala bananaaaa underweaaar baboiii jeje. Tulaliloo belloo! Pepete jeje para tú hana dul sae pepete tulaliloo. Tatata bala tu wiiiii pepete tank yuuu! Bee do bee do bee do tatata bala tu. Ti aamoo! bananaaaa wiiiii poulet tikka masala. Pepete bappleees tulaliloo la bodaaa me want bananaaa! Jeje aaaaaah belloo! Bappleees.</p>
            </div>
        </div>

    </div>

</template>
